@font-face {
  font-family: 'Lato:Bold';
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/Lato-Bold_1") format("woff2");
}

@font-face {
  font-family: 'Lato:Regular';
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Lato-Regular_1") format("woff2");
}

@font-face {
  font-family: 'Digital Numbers:Regular';
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/DigitalNumbers-Regular_1") format("woff2");
}

@import 'tailwindcss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f3f5fa;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
